@page "/Reporte3"

@using LeonXIIICore.Pages.Utilitarios
@using Models.Sistema
@using Clases.Sistema
@using Controllers.Sistema
@using Models.Reportes_Anexos_SBS
@using System.Security.Claims
@using LeonXIIICore
@using System.Text.Json
@using System.Text
@using OfficeOpenXml;
@using OfficeOpenXml.Style;
@using Models.Utilitarios;

@inherits MainLayout
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserClaimsService ClaimsService
@inject IJSRuntime JS
@inject HttpClient Http
@implements IDisposable

<style>
    .loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }

    .spinner-content {
        text-align: center;
        color: #333;
    }

    .alert {
        position: fixed;
        top: 20px;
        right: 20px;
        background: #4caf50;
        color: white;
        padding: 12px 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
        z-index: 1001;
    }
</style>


@if (cargando)
{
    <div class="loading-overlay">
        <div class="spinner-content">
            <img src="../assets/global/img/loading-spinner-blue.gif" alt="loading" />
            <p>Cargando datos del Reporte 3 ...</p>
        </div>
    </div>
}


@if (Auditoria != null && Auditoria.Count > 0)
{

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit">
                <div class="header-grupo-plantilla">
                    <div class="header-content">
                        <div class="caption mb-0">
                            <i class="icon-settings"></i>
                            <span class="titulo-seccion-plantilla">
                                Reporte 3 - Patrimonio Efectivo
                            </span>
                        </div>
                    </div>

                    <div class="header-content">
                        <div class="actions">
                        </div>
                    </div>
                </div>
                <div class="blazor-content portlet-body">
                    <div class="portlet-body">
                        
                        <PeriodoSelector AnioSeleccionado="@AnioSeleccionado"
                                     AnioSeleccionadoChanged="@(val => AnioSeleccionado = val)"
                                     MesSeleccionado="@MesSeleccionado"
                                     MesSeleccionadoChanged="@(val => MesSeleccionado = val)"
                                     OnGenerarPeriodo="GenerarConPeriodo"
                                     OnConsultarPeriodo="ConsultarConPeriodo" />

                        <TablaGenerica TItem="AnexoAuditoria"
                                   Datos="Auditoria"
                                   OnDescargar="Descargar"
                                   OnAuditoria="Auditar" />

                    </div>
                    <ModalAuditoria TItem="AuditoriaModel"
                                Title="Auditoría de Descargas"
                                Datos="DatosAuditoria"
                                Visible="ModalVisible"
                                OnClose="CerrarModal"
                                OnDescargar="DescargarAudit" />
                </div>
            </div>
        </div>
    </div>
}

@code {
    private int AnioSeleccionado { get; set; } = DateTime.Now.Year;
    private int MesSeleccionado { get; set; } = DateTime.Now.Month;
    private string IdUser;
    private List<AnexoAuditoria> Auditoria;
    private bool cargando = true;
    private string mensaje = "";
    private bool _isDisposed = false;
    private ElementReference alertDiv;
    private bool ModalVisible = false;
    private List<AuditoriaModel> DatosAuditoria = new();

    #region "INICIALIZAR PAGINA"
    protected override async Task OnInitializedAsync()
    {
        var apiLeon = new APILEON();

        try
        {
            await ClaimsService.InitializeAsync();
            IdUser = ClaimsService.GetDatoTrabajadorByIdUser("SIdUser");

            var Prueba = await apiLeon.APILEONGET<Respuesta<List<AnexoAuditoria>>>("/api/Reportes_Anexos_SBS/Auditoria?Operacion=1&NombreTabla=Reporte3");
            Auditoria = Prueba.Data;
            if (Auditoria != null && Auditoria.Count > 0)
            {
                mensaje = $"Reporte 3 obtenido correctamente ✅ Se obtuvieron {Auditoria.Count} registros.";
            }
            else
            {
                mensaje = "Error al obtener los Datos del Reporte ❌";
            }
        }
        catch (Exception ex)
        {
            mensaje = "Error de conexión ❌";
            Console.WriteLine(ex.Message);
        }

        cargando = false;
        if (!_isDisposed)
            StateHasChanged();
    }

    public void Dispose()
    {
        _isDisposed = true;
    }
    #endregion

    #region "AUDITAR"
    private void MostrarModalAuditoria() => ModalVisible = true;

    private async Task Auditar(AnexoAuditoria item)
    {
        var apiLeon = new APILEON();
        var datos = await apiLeon.APILEONGET<Respuesta<List<AuditoriaModel>>>("/api/Reportes_Anexos_SBS/Auditoria/AuditoriaxCod?Operacion=2&NombreTabla=Reporte3&Codigo=" + item.Codigo);
        DatosAuditoria = datos.Data;
        if (DatosAuditoria != null && DatosAuditoria.Count > 0)
        {
            mensaje = $"Reporte 3 obtenidos correctamente ✅ Se obtuvieron {DatosAuditoria.Count} registros.";
        }
        else
        {
            mensaje = "Error al obtener los Anexos ❌";
        }
        Console.WriteLine($"Auditando {item.Codigo}");
        MostrarModalAuditoria();
    }

    private async Task DescargarAudit(AuditoriaModel item)
    {

        string urlExcel = $"/api/export/GenerarExcelReporte3?iOpcion=3&anio={item.ANIO}&mes={item.MES}&IdUser={IdUser}&codigo={item.CODIGO}";
        await JS.InvokeVoidAsync("descargarArchivo", urlExcel);


        string url = $"/api/export/ExportTxtReporte3?codigo={item.CODIGO}&anio={item.ANIO}&mes={item.MES}";
        await JS.InvokeVoidAsync("descargarArchivo", url);

        await OnInitializedAsync();
    }


    private void CerrarModal()
    {
        ModalVisible = false;
    }
    #endregion



    private async Task Descargar(AnexoAuditoria item) { 
        string urlExcel = $"/api/export/GenerarExcelReporte3?iOpcion=2&anio={item.Anio}&mes={item.Mes}&IdUser={IdUser}";
        await JS.InvokeVoidAsync("descargarArchivo", urlExcel);

        string url = $"/api/export/ExportTxtReporte3?codigo={item.Codigo}&anio={item.Anio}&mes={item.Mes}";
        await JS.InvokeVoidAsync("descargarArchivo", url);

        await OnInitializedAsync();
    }

    private async Task ConsultarConPeriodo(PeriodoModel periodo)
    {
        var apiLeon = new APILEON();

        cargando = true;
        AnioSeleccionado = periodo.Anio;
        MesSeleccionado = periodo.Mes;

        var MesFormateado = "00" + Convert.ToString(MesSeleccionado);
        MesFormateado = MesFormateado.Length >= 2 ? MesFormateado.Substring(MesFormateado.Length - 2) : MesFormateado;

        var temporal = await apiLeon.APILEONGET<Respuesta<List<CodAnexoDBModel>>>("/api/Reportes_Anexos_SBS/Auditoria/CodAnexo?Operacion=3&NombreTabla=Reporte3&cMes=" + MesFormateado + "&cAnio=" + AnioSeleccionado);

        if (temporal.Exito == 1)
        { 
            string urlExcel = $"/api/export/GenerarExcelReporte3?iOpcion=2&anio={AnioSeleccionado}&mes={MesSeleccionado}&IdUser={IdUser}";
            await JS.InvokeVoidAsync("descargarArchivo", urlExcel);

            string url = $"/api/export/ExportTxtReporte3?anio={AnioSeleccionado}&mes={MesSeleccionado}";
            await JS.InvokeVoidAsync("descargarArchivo", url);
        }
        
        await OnInitializedAsync();
    }


    #region "GENERAR DATOS"
    private async Task GenerarConPeriodo(PeriodoModel periodo)
    {
        cargando = true;
        AnioSeleccionado = periodo.Anio;
        MesSeleccionado = periodo.Mes;

        string urlExcel = $"/api/export/GenerarExcelReporte3?iOpcion=1&anio={AnioSeleccionado}&mes={MesSeleccionado}&IdUser={IdUser}";
        await JS.InvokeVoidAsync("descargarArchivo", urlExcel);
        await Task.Delay(10000);
        string url = $"/api/export/ExportTxtReporte3?anio={AnioSeleccionado}&mes={MesSeleccionado}";
        await JS.InvokeVoidAsync("descargarArchivo", url);
        await OnInitializedAsync();

        cargando = false;
        if (!_isDisposed)
            StateHasChanged();

    }
    #endregion



}

