
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <!-- END SIDEBAR -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
            <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
            <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
            <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <li class="nav-item start ">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-home"></i>
                        <span class="title">Dashboard</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item start ">
                            <a href="Counter" class="nav-link ">
                                <i class="icon-bar-chart"></i>
                                <span class="title">Counter</span>
                            </a>
                        </li>
                        <li class="nav-item start ">
                            <a href="Menu" class="nav-link ">
                                <i class="icon-bar-chart"></i>
                                <span class="title">Menu</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-diamond"></i>
                        <span class="title">Data</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a href="FetchData" class="nav-link ">
                                <span class="title">FetchData</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="TipoCambio" class="nav-link ">
                                <span class="title">TipoCambio</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                        <a href="ProductosCuentas" class="nav-link ">
                                <span class="title">Cuentas</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                        <a href="ProductosCrediticios" class="nav-link ">
                            <span class="title">Productos Crediticios</span>
                            </a>
                        </li>
						<li class="nav-item  ">
                            <a href="Horario" class="nav-link ">
                                <span class="title">Horario</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                        <a href="Articulo" class="nav-link ">
                                <span class="title">Articulo</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                        <a href="perfil" class="nav-link ">
                                <span class="title">Perfil</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                        <a href="/angular/escritorio/gaf-orden-compra" class="nav-link ">
                            <span class="title">gaf-orden-compra</span>
                            </a>
                        </li>
                    <li class="nav-item  ">
                        <a href="/angular/escritorio/activo-fijo" class="nav-link ">
                            <span class="title">activo-fijo</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="/angular/escritorio/cotizacion-gaf" class="nav-link ">
                            <span class="title">cotizacion-gaf</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                            <a href="/angular/escritorio/requerimiento-logistico" class="nav-link ">
                                <span class="title">Requerimiento</span>
                            </a>
                        </li>

                        <li class="nav-item  ">
                            <a  class="nav-link ">
                                <span class="title">RR-HH</span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a  class="nav-link ">
                                        <span class="title">Maestros</span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item  ">
                                            <a href="Areas" class="nav-link ">
                                                <span class="title">Areas</span>
                                            </a>
                                        </li>
                                        <li class="nav-item  ">
                                            <a href="Cargos" class="nav-link ">
                                                <span class="title">Cargos</span>
                                            </a>
                                        </li>
                                        <li class="nav-item  ">
                                            <a href="Pensiones" class="nav-link ">
                                                <span class="title">Pensiones</span>
                                            </a>
                                        </li>
                                    @* <li class="nav-item  ">
                                        <a href="/angular/Pensiones" class="nav-link ">
                                            <span class="title">PensionesAng</span>
                                        </a>
                                    </li> *@
                                        <li class="nav-item  ">
                                            <a href="EntBanc" class="nav-link ">
                                                <span class="title">Entidades Bancarias</span>
                                            </a>
                                        </li>
                                        <li class="nav-item  ">
                                            <a href="CentroCosto" class="nav-link ">
                                                <span class="title">Centro de Costos</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                    <li class="nav-item  ">
                        <a href="/angular/escritorio/administracion-finanzas" class="nav-link ">
                            <span class="title">administracion-finanzas</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="/angular/escritorio/orden-compra" class="nav-link ">
                            <span class="title">orden-compra</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                        <a href="/angular/escritorio/formulario-compra" class="nav-link ">
                            <span class="title">formulario-compra</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                        <a href="/angular/escritorio/cotizacion" class="nav-link ">
                            <span class="title">cotizacion</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                        <a href="/angular/escritorio/bajas" class="nav-link ">
                            <span class="title">bajas</span>
                            </a>
                        </li>
                    <li class="nav-item  ">
                        <a href="/angular/escritorio/formulario-cotizacion" class="nav-link ">
                            <span class="title">formulario-cotizacion</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="/angular/escritorio/consj-admin-orden-compra" class="nav-link ">
                            <span class="title">consj-admin-orden-compra</span>
                            </a>
                        </li>
                          <li class="nav-item  ">
                        <a href="/angular/escritorio/cotizacion-gaf" class="nav-link ">
                            <span class="title">cotizacion-gaf</span>
                            </a>
                        </li>
                          <li class="nav-item  ">
                        <a href="/angular/escritorio/logistica" class="nav-link ">
                            <span class="title">logistica</span>
                            </a>
                        </li>
                          <li class="nav-item  ">
                        <a href="/angular/escritorio/consj-admin-orden-compra" class="nav-link ">
                            <span class="title">consj-admin-orden-compra</span>
                            </a>
                        </li>
                          <li class="nav-item  ">
                        <a href="/angular/escritorio/consj-admin-orden-compra" class="nav-link ">
                            <span class="title">consj-admin-orden-compra</span>
                            </a>
                        </li>
                          <li class="nav-item  ">
                        <a href="/angular/escritorio/consj-admin-orden-compra" class="nav-link ">
                            <span class="title">consj-admin-orden-compra</span>
                            </a>
                        </li>
                          <li class="nav-item  ">
                        <a href="/angular/escritorio/consj-admin-orden-compra" class="nav-link ">
                            <span class="title">consj-admin-orden-compra</span>
                            </a>
                        </li>
                          <li class="nav-item  ">
                        <a href="/angular/escritorio/consj-admin-orden-compra" class="nav-link ">
                            <span class="title">consj-admin-orden-compra</span>
                            </a>
                        </li>
                    <li class="nav-item  ">
                        <a href="/angular/escritorio/consj-admin-orden-compra" class="nav-link ">
                            <span class="title">consj-admin-orden-compra</span>
                        </a>
                    </li>
                    

                    </ul>                     
                </li>                                
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
    </div>
    <!-- END SIDEBAR -->

@code {

}
